.wrapper{
    width: auto;
    height: auto;
}

.item{
    margin-bottom: 2vh;
    padding: 1vh 1vw;
}

.service-title{
    font-size: 20px;
    font-weight: 500;
}

.service-descript{
    font-size: 18px;
    font-weight: 400;
}

.service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.service-direction{
    font-size: 30px;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.content.show{
    height: auto;
    max-height: 500px;

}