@import "tailwindcss";
@import "../styles/boska.css";

html{
    font-family: 'Boska-Variable'; 
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: ease-in-out;
    overflow-x: hidden;
}

body{
    opacity: 0;
    animation: fadeIn 1s forwards;
    overflow-x: hidden;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



