---
import Layout from "../layouts/Layout.astro";
import Section6 from "../layouts/Section6.astro";
---

<Layout>
    <section class="w-screen h-[100vh] flex flex-col justify-evenly items-center">
        <h1 id="gallery-header">Gallery</h1>
        <div class="bg-gray-900 w-4/6 h-4/6 rounded-xl">
    
        </div>
    </section>
    <section class="w-screen h-[200vh] bg-[#fffbeb]">
        <div class="sm:w-screen md:w-[60vw] h-full mx-auto flex flex-col gap-6 p-10">
            <div class="w-full h-1/2 flex flex-row gap-6">
                <div class="w-1/2 h-full bg-gray-400"></div>
                <div class="w-1/2 h-full flex flex-col gap-6">
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/2 flex flex-row-reverse gap-6">
                <div class="w-1/2 h-full bg-gray-400"></div>
                <div class="w-1/2 h-full flex flex-col gap-6">
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/2 flex flex-row gap-6">
                <div class="w-1/2 h-full bg-gray-400"></div>
                <div class="w-1/2 h-full flex flex-col gap-6">
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/2 flex flex-row-reverse gap-6">
                <div class="w-1/2 h-full bg-gray-400"></div>
                <div class="w-1/2 h-full flex flex-col gap-6">
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                    <div class="w-full h-1/2 flex flex-row gap-6">
                        <div class="w-1/2 h-full bg-gray-400"></div>
                        <div class="w-1/2 h-full bg-gray-400"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Section6/>
</Layout>

<style>
    #gallery-header{
        font-size: 2.5rem;
        font-weight: 700;
    }

</style>


