---
import Layout from "../layouts/Layout.astro";
import Section6 from "../layouts/Section6.astro";
import BentoGallery from "../components/bento.jsx";
---

<Layout>
    <section class="w-screen h-[100vh] flex flex-col justify-evenly items-center bg-[#476D4D]">
        <div class="video w-4/6 h-4/6 rounded-xl z-3"></div>
    </section>
    
    <section class="pictures w-screen min-h-[200vh] bg-white pt-[50vh]  pb-[5rem]">
        <h1 class="text-black text-6xl font-bold text-center mb-[3rem]">Gallery</h1>
        <BentoGallery/>
    </section>

    <div class="bg-white">
        <Section6/>
    </div>
    
</Layout>

<style>
    .pictures{
        animation: slideIn 1s ease-in-out forwards;
    }

    @keyframes slideIn {
        from{
            margin-top: -30vh;
            clip-path: ellipse(150% 100% at bottom);
        }
        to{
            margin-top: -50vh;
            clip-path: ellipse(200% 100% at bottom);
        }
    }

</style>


