---
import Layout from '../layouts/Layout.astro';
import Section1 from '../layouts/Section1.astro';
import Section2 from '../layouts/Section2.astro';
import Section3 from '../layouts/Section3.astro';
---

<Layout>
	<Section1/>
	<Section2/>

	<section id="testimony" class="w-screen h-[55vh] bg-[#476D4D] py-15">
		<div class="sec-3 w-5/6 h-auto mx-auto flex flex-row gap-10">
			<div class="w-1/4 h-auto ">
				<h1 id="test-header" class="text-amber-50">Heres what our clients say</h1>
				<p id="test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit.</p>
			</div>
			<div class="w-3/4 h-auto">

			</div>
		</div>
	</section>

	<Section3/>


	<section id="services" class="w-screen h-[70vh]">

		<div class="w-5/6 h-5/6 flex flex-row gap-20 items-start justify-between mx-auto">
			<div class="w-1/2 h-5/6 bg-[#476D4D] p-10">
				<h1 id="service-header">Custom Solutions for your Brows.</h1>
				<p id="service-text">Choose the service that best fits you.</p>
			</div>
			<div class="w-1/2 h-full bg-amber-200">
				
			</div>
		</div>
	</section>

	<section id="contact" class="w-screen h-150 flex justify-center items-center relative">
		<div id="contact-background" class="w-full h-full bg-[#E8CC84]"></div>

		<div class="absolute w-5/6 h-5/6 z-10 flex flex-row justify-between items-center gap-10 p-10">
			<div class="w-1/3 h-full">
				<h1 id="contact-header">Book a Service.</h1>
				<br>
				<p id="contact-text">The best way to book a service is to call or text me at:</p>
				<br>
				<p id="contact-text"><b>(443) 521-6191 or (443) 225 5675</b></p>
				<br>
				<p id="contact-text"><b>thydalamuth@gmail.com</b></p>
				<br>
				<p id="contact-text"><b>12 washington street, Cambridge MD 21613</b></p>

				<button class="w-45 h-12 btn rounded-full bg-green-900 border-white border-2 my-10 hover:scale-[106%] transition ease-in-out text-white text-lg shadow-lg">Submit</button>
			</div>
			<div class="w-1/2 h-full flex justify-center items-center">
				<div class="w-3/4 h-150 flex justify-center">
					<div id="contactForm" class="bg-white w-full h-11/12 p-[3%]">
						<div class="w-full h-full flex flex-col">
							<div class="w-full h-1/5 bg-am flex flex-row justify-between items-center gap-5">
								<label class="w-1/2 h-1/3">First Name (Required)<input type="text" name="fname" id="form-input" class="h-full w-full"></label>
								<label class="w-1/2 h-1/3">Last Name (Required)<input type="text" name="fname" id="form-input" class="h-full w-full"></label>
							</div>
							<div class="w-full h-1/5 flex justify-center items-center">
								<label class="w-full h-1/2">Email (Required)<input type="text" name="email" id="form-input" class="h-full w-full"></label>	
							</div>
							<div class="w-full h-2/5 flex justify-center items-center">
								<label class="h-2/3 w-full">Message (Required)<textarea name="message" id="form-input" class="h-full w-full"></textarea></label>
							</div>
							<div class="w-full h-1/5 flex justify-center items-center">
								<label class="w-full h-1/2">Phone (Required)<input type="text" name="phonenumber" id="form-input" class="h-full w-full"></label>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</Layout>

<style>
	#test-header{
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 5%;
	}

	#test-text{
		font-size: 18px;
		font-weight: 400;
		color:white;
	}

	#service-header{
		color: white;
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 10%;
	}

	#service-text{
		color: white;
		font-size: 25px;
		font-weight: 400;
	}


	#contact-background{
		clip-path: ellipse(100% 100% at 20% 100%);
	}

	#contact-header{
		font-size: 50px;
		font-weight: 600;
		color: white;
	}

	#contactForm{
		box-shadow: 5px -5px 20px #5f54372f;
		border-radius: 10px;
	}

	#contact-text{
		font-size: 18px;
	}

	#form-input{
		background-color: #EEEEEE;
		border-color: #BBBBBB;
		border-width: 1px;
		border-radius: 5px;
		font-size: 18px;
	}

	textarea{
		resize: none;
		font-size: 18px;
	}

	label{
		font-size: 14px;
	}

</style>
