---
import Layout from '../layouts/Layout.astro';
import Section1 from '../layouts/Section1.astro';
import Section2 from '../layouts/Section2.astro';
import Section4 from '../layouts/Section4.astro';
import Section3 from '../layouts/Section3.astro';
import Section5 from '../layouts/Section5.astro';
import Section6 from '../layouts/Section6.astro';
import Section7 from '../layouts/Section7.astro';
---

<Layout>
	<Section1/> <!-- hero -->
	<Section2/> <!-- hook -->
	<Section3/> <!-- testimony -->
	<Section4/> <!-- about -->
	<Section5/> <!-- services -->
	<div class="bg-[#fffbeb]">
		<Section6/>	<!-- contact -->
	</div> 
	<Section7/> <!-- gallery -->
</Layout>

