---
import Slideshow from "../components/slideshow.jsx";
---

<section id="testimony" class="sm:h-fit w-screen md:h-[55vh] relative flex justify-center items-center">
    <div class="w-5/6 h-4/6 flex-col justify-center items-center">
        <h1 id="test-header" class="animate">Heres What our Clients Say</h1>
        <hr class="bg-white w-1/4 h-[1px] border-none mx-auto animate">
        <div class="w-full h-full animate">
            <Slideshow client:visible/>
        </div>
    </div>
    
</section>

<style>
    #test-header{
		font-size: 3rem;
		font-weight: 600;
        color: white;
        text-align: center;
	}

    #testimony{
        background-color: #ecc562;
    }
</style>