<section id="About" class="w-screen h-screen flex items-center justify-center bg-[#fffbeb] relative">
    <div class="sec-4 w-5/6 h-5/6 relative">
        <div class="w-full h-full flex justify-end absolute">
            <div class="h-10/12 w-11/12 flex flex-col justify-start items-center md:flex-row gap-[20%] sm:flex-col-reverse" id="about-content">

                <div class="sm:w-full md:w-1/3 flex flex-col justify-center">
                    <h1 class="text-left text-[#273c2a]" id="about-header">Hi, Im</h1>
                    <h1 class="text-[#273c2a] mt-[-3rem]" id="thyda">Thyda</h1>
                    <p id="about-text">
                        My name is <b>Thyda (tee-dah)</b>, Im a <b>brow specialist</b> and nail tech
                        based in Cambridge, Maryland. I specialize in doing <b>powderbrow </b>
                        and <b>ombre brow</b>, and love what i do and take pride in perfecting 
                        my craft.
                    </p>
                    <br>
                    <p id="about-text">
                        Lorem Lorem ipsum dolor sit amet, consectetur.
                        Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Lorem Lorem ipsum dolor sit amet, consectetur adipiscing.
                    </p>
                </div>

                <div class="hidden sm:hidden md:block w-full md:w-1/4 h-3/4 sm:w-1/2 z-10" id="about-img2"></div>

                
            </div>

            <div class="hidden sm:hidden md:block w-1/3 h-5/6 bg-[#AB9C74] absolute z-9 opacity-50"></div>
            <div class="hidden sm:hidden md:block w-1/3 h-5/6 bg-gray-100 absolute" id="about-img"></div>

        </div>


        
        </div>

    </div>
</section>

<style>
    #about{
        z-index: 10;
    }

    #about-header{
        font-family: 'Boska-Variable';
		font-size: 50px;
		font-weight: 600;
		margin: 0;
	}

    #about-header > span{
        font-family: 'Boska-VariableItalic';
    }

    #thyda{
        font-weight: 800;
        font-size: 8.5rem;
    }

	#about-text{
		font-size:18px;
		font-weight: 400;
	}

	#about-img{
		background-image: url("../aboutImg_1.jpeg"); 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
	}

	#about-img2{
		border-radius: 150px 150px 0 0;
		border-width: 12px;
		border-color: #E8CC84; 
		background-image: url("../thyda.jpeg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;  
	}
</style>