---
// Hero section for landing page
---

<section class="hero-content w-screen h-[150vh] bg-black sticky">
    <div class="bg-black opacity-60 w-screen h-[150vh] absolute"></div>

    <div class="relative flex w-screen h-screen justify-center items-center">
        <div class="w-3/4 h-auto flex flex-col items-center">
            <h1 class="hero-text text-center">Fall in love with <i>your brows</i></h1>
            <p class="sm:text-left md:text-center">Tailored eyebrow solutions from basic shading to cosmetic tattooing.</p>
            <button class="hero-btn btn rounded-full bg-green-900 px-10 py-1 border-white border-2 my-10 hover:scale-[106%] transition ease-in-out">Learn More</button>
            <img class="stars inline" src="data:image/svg+xml,%3Csvg width='180' height='30' viewBox='0 0 203 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.9712 0L20.9775 12.3303H33.9423L23.4536 19.9508L27.4599 32.2811L16.9712 24.6605L6.48241 32.2811L10.4888 19.9508L0 12.3303H12.9648L16.9712 0ZM185.424 0L189.43 12.3303H202.395L191.906 19.9508L195.913 32.2811L185.424 24.6605L174.935 32.2811L178.941 19.9508L168.453 12.3303H181.417L185.424 0ZM63.0907 12.3303L59.0843 0L55.078 12.3303H42.1132L52.6019 19.9508L48.5956 32.2811L59.0843 24.6605L69.5731 32.2811L65.5667 19.9508L76.0555 12.3303H63.0907ZM143.311 0L147.317 12.3303H160.282L149.793 19.9508L153.799 32.2811L143.311 24.6605L132.822 32.2811L136.828 19.9508L126.34 12.3303H139.304L143.311 0ZM105.204 12.3303L101.198 0L97.1912 12.3303H84.2263L94.7151 19.9508L90.7088 32.2811L101.198 24.6605L111.686 32.2811L107.68 19.9508L118.169 12.3303H105.204Z' fill='%23E3C147'/%3E%3C/svg%3E%0A" alt="img"></img>
        </div>
    </div>
</section>

<style>
    .hero-text{
		font-family: 'Boska-Variable';
		font-weight: 700;
		font-size: 6rem;
		color: white;
        line-height: 120%;
	}

	.hero-text i{
		font-family: 'Boska-VariableItalic';
		font-weight: 700;
		font-size: 6rem;
        color: white;
	}

    .hero-content{
        background-image: url("../shopImage.jpeg"); /* The image used *//* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;  
    }


	.hero-content p{
		font-family: 'Boska-Variable';
		font-weight: 400;
		font-size: 1.5rem;
		color: white;
	}

	.hero-btn{
		font-family: 'Boska-Variable';
		font-weight: 500;
		font-size: 25px;
		color: white;
	}
    @media(max-width: 650px){
        .hero-text{
            font-size: 5rem;
            line-height: 100%;
            text-align: left;
        }
        .hero-text i{
            font-size: 5rem;
        }
    }
</style>