<section id="testimony" class="w-screen h-[55vh] bg-[#476D4D] py-15 relative">
    <div class="sec-3 w-5/6 h-auto mx-auto flex flex-row gap-10">
        <div class="w-1/4 h-auto ">
            <h1 id="test-header" class="text-amber-50">Heres what our clients say</h1>
            <p id="test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit.</p>
        </div>
        <div class="w-3/4 h-auto">

        </div>
    </div>
</section>

<style>
    #test-header{
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 5%;
	}

	#test-text{
		font-size: 18px;
		font-weight: 400;
		color:white;
	}
</style>