---
//Text section
import Text from '../components/Text.astro';
---

<section id="section2" class="w-screen h-auto bg-[#fffbeb] py-10">   

    <div class="sec-2 w-auto h-auto flex justify-center">
        <h1 class="text-black">We Ensure</h1>
    </div>

    <div class="w-5/6 h-auto mx-auto flex flex-col md:flex-row justify-between" id="sec2-content">
        <Text>
            <p slot="first" id="section-title">Comfort</p>
            <p slot="second" id="section-desc">Tailored eyebrow solutions from basic shading to cosmetic tattooing.</p>
            <p slot="third" id="section-price">$500 | 135 min</p>
        </Text>
        <Text>
            <p slot="first" id="section-title">Quality</p>
            <p slot="second" id="section-desc">Tailored eyebrow solutions from basic shading to cosmetic tattooing.</p>
            <p slot="third" id="section-price">$550 | 150 min</p>
        </Text>
        <Text>
            <p slot="first" id="section-title">Professional</p>
            <p slot="second" id="section-desc">Tailored eyebrow solutions from basic shading to cosmetic tattooing.</p>
            <p slot="third" id="section-price">$500 | 135 min</p>
        </Text>
    </div>
</section>

<style>


	#section2{
		clip-path: ellipse(99% 100% at bottom);
		z-index: 10;
		margin-top: -150px; 
	}

	.sec-2 h1{
		font-family: 'Boska-Variable';
		font-weight: 500;
		font-size: 40px;
	}

	#section-title{
		color: black;
		font-weight: 500;
		font-size: 18px;
        margin-bottom: 3%;
	}

	#section-desc{
		color: black;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
	}

	#section-price{
		color: black;
		font-weight: 500;
		font-size: 16px;
	}

    @media(max-width: 650px){
        #section2{
            clip-path: ellipse(200% 100% at bottom);
            margin: 0;
        }
    }

</style>